@import '../../styles/variables.scss';

.section {
    height: min-content;
}

.stamp_container {
    display: grid;
    height: 100%;
    grid-template-row: auto 1fr auto;
    align-content: space-between;
}
.stamp {
    padding: 0px 0px;
    margin: 0px 0px;
    /* background-color: $color-dark-blue; */

    & .stamp_part {
        display: flex;
        justify-content: space-between;

        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 25px;
    }

    & .stamp_text {
        color: $color-gray;
        font-size: $font-size-xxs;
        line-height: $line-height-normal;
        font-weight: 400;
        font-style: normal;
    }
}

.text {
    color: $color-black;
    font-size: $font-size-s;
    line-height: $line-height-s;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 102px;
    margin-left: 40px;
    margin-right: 40px;
}
