@import '../../styles/variables.scss';

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 626px;
    height: 64px;

    @media (max-width: 1400px) {
    }

    @media (max-width: 810px) {
        width: auto;
        margin: 0 auto;
    }
}
